<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-20">
                <ul class="text-center">
                    <li>YTS &copy; 2011 - 2023</li>
                    <li>-</li>
                    <li><a href="/blog">Blog</a></li>
                    <li>-</li>
                    <li><a href="/dmca">DMCA</a></li>
                    <li>-</li>
                    <li><a href="/api">API</a></li>
                    <li>-</li>
                    <li><a href="/rss-guide">RSS</a></li>
                    <li>-</li>
                    <li><a href="/contact">Contact</a></li>
                    <li>-</li>
                    <li><a href="/browse-movies">Browse Movies</a></li>
                    <li>-</li>
                    <li><a href="/requests">Requests</a></li>
                    <li>-</li>
                    <li><a href="/login">Login</a></li>
                    <li>-</li>
                    <li><a href="/languages">Language</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-20">
                <ul class="text-center">
                    <li><a href="https://eztv.re" title="EZTV">EZTV</a></li>
                    <li>-</li>
                    <li><a href="https://yifystatus.com" title="YTS YIFY Status">YIFY Status</a></li>
                    <li>-</li>
                    <li><a href="https://ytsproxies.com" title="YTS Proxies">YTS Proxies</a></li>
                    <li>-</li>
                    <li><a href="http://ytsyifyupcmxftncrnqd4bmwxvhlibhdat74w6xnmn33njxts4eeaiqd.onion/"
                            title="YTS Proxies (TOR)">YTS Proxies (TOR)</a></li>
                    <li>-</li>
                    <script src="/js/widgets.js"></script>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-20">
                <ul class="text-center">
                    <li style="font-size: .80em">By using this site you agree to and accept our <a href="/terms">User
                            Agreement</a>, which can be read <a href="/terms">here</a>.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>